<!DOCTYPE html>
<html>

<head>
  <title>
    ログイン
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <div id="seconds"></div>
  </h1>
  </p>
  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
  <div id="qrcode"></div>
  <%= uuid %>
  <br><br>
  <h2>VCの新規発行は<a href="/new">こちら</a></h2>
  

<script type="text/javascript">
    // https://github.com/davidshimjs/qrcodejs
    new QRCode(document.getElementById("qrcode"), "openid-vc://?request_uri=https://vp-app.azurewebsites.net/vp/<%= uuid %>");

    let count = 120;
    let field = document.getElementById("seconds");
    let interval = setInterval(function() {
      field.innerText = String(count) + "秒以内にウォレットでVCを提出してください。";
      count--;
      if (count < 0) {
        clearInterval(interval);
      }

      // ２秒ごとに fetch する
      if (count % 2) {
        return;
      }
      fetch("/chk?id=<%= uuid %>")
      .then(response => response.text())
      .catch(error => {console.log(error)})
      .then(response => {
        if (response == "OK") [
          location.href = "/restricted?id=<%= uuid %>"
        ]
      })},
      1000
    )
    
  </script>
</body>

</html>