<!DOCTYPE html>
<html>

<head>
  <title>
    Verify
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    Verify
  </h1>
  </p>
  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
  <div id="qrcode"></div>
  <script type="text/javascript">
    // https://github.com/davidshimjs/qrcodejs
    new QRCode(document.getElementById("qrcode"), "openid-vc://?request_uri=https://vp-app.azurewebsites.net/vp/<%= uuid %>");

    setInterval(function() {
      fetch("/chk?id=<%= uuid %>")
      .then(response => response.text())
      .then(response => {
        if (response == "OK") [
          location.href = "/restricted?id=<%= uuid %>"
        ]
      }),
      1000
    });

    
  </script>
</body>

</html>