<!DOCTYPE html>
<html>

<head>
  <title>
    Verify
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    Welcome
  </h1>
  <p>
  <%= name %> さん
  </p>
</body>