<!DOCTYPE html>
<html>

<head>
  <title>
    Verify
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    ようこそ
  </h1>
  <p>
  <%= name %> さん
  </p>

  <input type="button" onclick="location.href='/logout?id=<%= uuid %>';" value="ログアウト">
</body>